body{
    font-weight: bolder;
    background-color: beige;
}

#start{
    font-size: larger ;
    border-style: dashed;
    border: 10px,solid,blue;
    width:fit-content;
    
}

#startBtn{
    color: darkmagenta;
}

.scores{
    color: darkblue;
    border-style: dotted;
}

section{
    text-align: right;
    color: chocolate;
}

#questions {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;;

}

.options{
    text-align: center;
    margin: 25px;
}

.nav{
    text-align: center;
}

.names{
    margin: 25px;
}

#submitBtn{
    color: dodgerblue;
}

@media screen and (min-width: 992px){
    body{
        background-color: darkorange;
    }

}

@media screen and (min-width: 768px){
    body{
        background-color: darkslateblue;
    }

}

@media screen and (min-width: 480px){
    body{
        background-color: hotpink;
    }

}
    

